@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Kalam:wght@300;400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-kalam: "Kalam", "serif";
  --font-funnel: "Funnel Display", "serif";
}

@keyframes float-normal {
  0% {
    transform: translateY(100vh) scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(50vh) scale(1.2) rotate(180deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scale(0.8) rotate(360deg);
    opacity: 0.2;
  }
}

@keyframes float-reverse {
  0% {
    transform: translateY(100vh) scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(50vh) scale(1.2) rotate(-180deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scale(0.8) rotate(-360deg);
    opacity: 0.2;
  }
}

@keyframes float-wobble {
  0% {
    transform: translateY(100vh) scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: translateY(50vh) scale(1.2) rotate(45deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scale(0.8) rotate(-45deg);
    opacity: 0.2;
  }
}

.animate-float-normal {
  animation: float-normal linear infinite;
}

.animate-float-reverse {
  animation: float-reverse linear infinite;
}

.animate-float-wobble {
  animation: float-wobble linear infinite;
}
